.animation-item-out{
    animation: item-out 0.5s ease forwards;
}
.animation-item-out-left{
  animation: item-out-left 0.5s ease forwards;
}
.animation-item-out-bottom{
  animation: item-out-bottom 0.5s ease forwards;
}
.animation-item-out-2{
    /* animation: item-out 0.5s cubic-bezier(.6,.6,.12,1.26) forwards; */
    animation: item-out-2 0.5s ease forwards;
}

.animation-highlight-2 {
  animation: animation-highlight-2 1000ms;
}

@keyframes animation-highlight-2{
  0%{
    transform:scale(1);
    box-shadow: 0 0 0 0px var(--md-sys-color-primary-container) inset;
  }
  50%{
    box-shadow: 0 0 0 4px var(--md-sys-color-primary-container) inset;
  }
  100%{
    transform:scale(1);
    box-shadow: 0 0 0 0px var(--md-sys-color-primary-container) inset;
  }
}

@keyframes search-result-item-in {
    from {
      opacity: 0;
      filter: blur(16px);
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
}

@keyframes item-out {
    from {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
    to {
      opacity: 0;
      filter: blur(16px);
      transform: translateY(-20px);
    }
}
@keyframes item-out-left {
    from {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
    to {
      opacity: 0;
      filter: blur(16px);
      transform: translateX(-64px);
    }
}
@keyframes item-out-bottom {
    from {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
    to {
      opacity: 0;
      filter: blur(16px);
      transform: translateY(24px);
    }
}

@keyframes animation-general-in {
    from {
      opacity: 0;
      filter: blur(16px);
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

}

@keyframes animation-general-in-2 {
  from {
    opacity: 0;
    filter: blur(32px);
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  } 
}

/* @keyframes item-out {
    from {
      opacity: 1;
      filter: blur(0);
      transform: scaleY(1);
    }
    to {
      filter: blur(16px);
      transform: scaleY(0);
    }
} */


/* more specific animations for specific componentes */
.today-appt-item-out{
    overflow:hidden;
    animation: today-appt-item-out 250ms forwards;
}
@keyframes today-appt-item-out {
    from{
        padding:16px 16px;
        max-height:94px;
    }
    to{
        filter: blur(16px);
        opacity: 0;
        margin-bottom:-8px;
        padding:0px 16px;
        max-height:0px;
    }
}


.animation-shake{
    animation: shake 0.5s cubic-bezier(.6,.6,.12,1.26) forwards;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}


.animation-loading-1{
  position: relative;
  /* border-radius:16px; */
  overflow: hidden;
  pointer-events: none;
}


.animation-loading-1::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius:inherit;
  background: linear-gradient(to right, transparent, rgba(0,0,0,0.1), transparent) !important;
  transform: translateX(-100%);
  animation: hover-magic-1-shimmer 1s infinite;
  z-index: 2;
  box-shadow:none;
}
@media (prefers-color-scheme: dark){
  .animation-loading-1::before {
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.05), transparent) !important;
  }
}
@keyframes hover-magic-1-shimmer {
  100% {
    transform: translateX(100%);
  }
}


/* animation loading 2 */
.animation-loading-2 {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.animation-loading-2::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent, color-mix(in srgb, var(--md-sys-color-background), transparent 20%), transparent);
    transform: translateX(-100%);
    animation: shimmer-overlay 1s infinite;
    border-radius: inherit;
    z-index: 20;
    box-shadow:none;
}

.animation-loading-2.surface-container::before {
    background: linear-gradient(to right, transparent, color-mix(in srgb, var(--md-sys-color-surface-container), transparent 20%), transparent);
}
    

@keyframes shimmer-overlay {
    100% {
        transform: translateX(100%);
    }
}




.entry-animation-1 {
  position: relative;
  overflow: hidden;
}

.entry-animation-1::before {
  content: '';
  position: absolute;
  inset:0;

  background: linear-gradient(to right, transparent, var(--md-sys-color-surface-container) 30%);

  transform: scaleX(1.4) translateX(100%);

  animation: entry-animation-1 700ms cubic-bezier(0.38,0.49,0,1);
  transform-origin: right;
}

@keyframes entry-animation-1 {
  from {
    transform: scaleX(1.4) translateX(0%);
  }
  to {
    transform: scaleX(1.4) translateX(100%);
  }
}


.entry-animation-1-background {
  position: relative;
  overflow: hidden;
}

.entry-animation-1-background::before {
  content: '';
  position: absolute;
  inset:0;

  background: linear-gradient(to right, transparent, var(--md-sys-color-background) 30%);

  transform: scaleX(1.4) translateX(100%);

  animation: entry-animation-1 700ms cubic-bezier(0.38,0.49,0,1);
  transform-origin: right;
}