/* button.style-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--md-sys-color-on-surface);
    background: var(--md-sys-color-surface);
    box-shadow: 0px 0px 16px -10px var(--md-sys-color-on-surface-variant);
    transition: box-shadow 0.3s, background 0.3s, color 0.3s;
} */
button.style-1{
    font-family: "Bricolage Grotesque", system-ui !important;
    font-size:24px;
    font-weight:500;

    padding:16px 32px;
    border-radius:64px;
    outline:none;
    border:none;
    /* background: var(--md-sys-color-surface-container); */
    /* color:var(--md-sys-color-on-surface-container); */

    cursor:pointer;
    transition: transform 0.3s cubic-bezier(0.38,0.49,0,1.16);
}
button.style-1:hover{
    transform: scale(1.1);
}


button.style-2{
    font-family: "Inter", sans-serif;
    font-size:14px;
    padding:8px 12px;
    border:none;
    border-radius:12px;
    
    background:var(--md-sys-color-surface-container);
    color:var(--md-sys-color-on-background-text);
    cursor:pointer;
    transition: background 0.3s, color 125ms;
}
button.style-2[active]{
    background:var(--md-sys-color-primary-container);
    color:var(--md-sys-color-on-primary-container);
}
/* button.style-2[active]:before{
    content: '';
    position: absolute;
    inset:0;
    border-radius:inherit;
    box-shadow:0 0 0 1px color-mix(in srgb, var(--md-sys-color-primary-container) 80%, black 20%) inset, inset 0 2.8px 0 0 rgba(255,255,255, .1);
    z-index:1;
} */
button.style-2[active] md-icon{
    font-variation-settings: 'FILL' 1;
}

button.style-2.rounded{
    font-weight:500;
    padding: 12px 16px;
    border-radius:12px;
    transition: padding 400ms cubic-bezier(0.38,0.49,0,2), 
                background 125ms,
                color 125ms,
                border-radius 200ms cubic-bezier(0.38,0.49,0,1.5);
}
button.style-2.rounded:hover{
    padding: 12px 18px;
}
button.style-2.rounded[active]{
    border-radius:64px;
    padding: 12px 20px;
}

button.style-2.playful{
    transition: padding 400ms cubic-bezier(0.38,0.49,0,2), 
                background 125ms,
                color 125ms,
                border-radius 200ms cubic-bezier(0.38,0.49,0,1.5);
}   

button.style-2.playful:hover{
    padding: 8px 14px;
    border-radius:24px;
}

button.style-2.playful[active]{
    border-radius:64px;
    padding: 8px 18px;
}

button.style-2[filled-tonal]{
    background:var(--md-sys-color-secondary-container);
    color:var(--md-sys-color-on-background);

}


button.style-3{
    font-family: "Inter", sans-serif;
    font-size:16px;
    padding:16px 24px;
    border:none;
    border-radius:24px;

    cursor:pointer;
    transition: transform 0.3s cubic-bezier(0.38,0.49,0,1.16);
}

button.style-3:focus{
    animation: buttonClickAnimation 500ms cubic-bezier(.37,1.42,.37,1);
}

button.style-4, a.style-4{
    border:none;
    outline: none;

    border-radius:24px;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
    --md-icon-size: 18px;

    padding:8px 16px;
    cursor:pointer;
}


button.style-5{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:12px;
    border-radius:64px;
    border:none;
    cursor:pointer;
}


button.style-2:disabled, button.style-3:disabled, button.style-4:disabled, a.style-4:disabled{
    opacity:0.5;
}

button.style-6{
    padding:6px 10px;
    border-radius:16px;
    border:none;
    cursor:pointer;
    /* background:var(--md-sys-color-secondary-container);
    color:var(--md-sys-color-on-secondary-container); */
    box-shadow: 0px 0px 0px 1px var(--md-sys-color-outline-variant) inset;
    background:var(--md-sys-color-background);
    font-family: 'inter', sans-serif;
    /* background:var(--md-sys-color-surface-container-high);
    color:var(--md-sys-color-on-backgroun); */
}


button.style-7{
    display:flex;
    align-items: center;
    gap:4px;

    font-family: "Inter", sans-serif;
    font-size:14px;
    padding:12px 18px;
    border:none;
    border-radius:12px;
    
    /* background:transparent;
    color:var(--md-sys-color-on-background); */
    /* background:var(--md-sys-color-surface-container); */
    /* color:var(--md-sys-color-on-background-text); */
    cursor:pointer;
    transition: background 0.3s, color 125ms;
}

button.style-7.for-icon{
    padding:12px !important;
}

button.style-7[active]{
    background:var(--md-sys-color-primary-container);
    color:var(--md-sys-color-on-primary-container);
}
button.style-7[active] md-icon{
    font-variation-settings: 'FILL' 1;
}
button.style-7.rounded{
    border-radius:64px;
}
/* .style-cap{
    box-shadow: inset 0 1.5px 0 0 rgba(var(--md-sys-color-neutral-background), .3);
    border: 1px solid var(--md-sys-color-primary-container);
} */

.style-cap::before{
    content: '';
    position: absolute;
    inset:0;
    border-radius:inherit;
    box-shadow:0 0 0 1px color-mix(in srgb, var(--md-sys-color-primary) 80%, black 20%) inset, inset 0 2.8px 0 0 rgba(255,255,255, .3);
    z-index:1;
}

button.style-8{
    border:none;
    border-radius:50%;
    display:flex;
    flex-grow:1;
    aspect-ratio:1/1;

    align-items:center;
    justify-content:center;
    cursor:pointer;

    max-width:600px;
    max-height:600px;
}