[data-sub-section]{
    display:none;
    overflow: auto;
    /* padding:16px; */
    padding-left:24px;
    box-shadow: -1px 0 0 0px var(--md-sys-color-surface-container-high);
    z-index: 1;
    transition: border-radius 200ms cubic-bezier(0.1, 0.8, 0, 1);
}
[data-sub-section].is-dragging{
    border-radius: 24px;
}

[data-sub-section][active]{
    display:flex;
}

[data-sub-section][sub-section-in-animation]{
    animation: moveIn 400ms cubic-bezier(0.1, 0.8, 0, 1);
}
[data-sub-section][sub-section-in-animation-out]{
    animation: moveOut 200ms cubic-bezier(.1,0,.7,1);
}

[data-sub-section].full-screen{
    position:absolute;
    inset:0;
    background:var(--md-sys-color-background);
    padding:16px;
}
[data-sub-section].window-screen{
    position:absolute;
    inset:0;
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    border-radius:24px;
    border:none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08), 0px 8px 40px 0px rgba(0, 0, 0, 0.04);

    background:var(--md-sys-color-background);
    padding:24px;
}
[data-sub-section].absolute-screen{
    position:absolute;
    width:100%;
    max-width: 600px;
    right:0;
    top:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(64px);
    /* background:var(--md-sys-color-background); */
    padding:16px;
    box-shadow: -3px 0px 3px -3px rgba(0, 0, 0, 0.16), -8px 0px 40px -8px rgba(0, 0, 0, 0.08);
}
[data-sub-section].absolute-screen.full-width{max-width:initial; box-sizing: border-box;}
[data-sub-section].absolute-screen.wider{max-width: 50%;}
@media (prefers-color-scheme: dark) {
    [data-sub-section].absolute-screen {
        background: rgba(0, 0, 0, 0.88);
    }
}

[data-sub-section][sub-section-simple-in-animation]{
    animation: sub-section-simple-in-animation 500ms cubic-bezier(0.38,0.49,0,1);
}

[data-sub-section].no-transparency{
    background:var(--md-sys-color-background);
}


@keyframes sub-section-simple-in-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


[data-sub-section].style-window{
    z-index: 1;
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    max-width: 800px;
    height: calc(100% - 48px);
    max-height: 800px;
    margin: auto;
    border-radius: 32px;
    border: none;
    /* box-shadow: 0 0 0 3px var(--md-sys-color-surface-container-high); */
    box-shadow: 
        0 0 0 2px var(--md-sys-color-surface-container),
        0px 0px 3px 0px rgba(0, 0, 0, 0.08), 
        0px 8px 40px 0px rgba(0, 0, 0, 0.04);
    background: var(--md-sys-color-background);
    padding: 24px;
}

[data-sub-section][sub-section-in-animation-out].style-window{
    animation: sub-section-style-window-out-animation 300ms cubic-bezier(0.1, 0.8, 0, 1);
}
[data-sub-section][sub-section-in-animation].style-window{
    animation: sub-section-style-window-in-animation 500ms cubic-bezier(0.1, 0.8, 0, 1);
}

@keyframes sub-section-style-window-in-animation {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sub-section-style-window-out-animation {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0.95);
    }
    
}


@media only screen and (max-width: 980px){
    [data-sub-section]{
        position: absolute;
        inset:0;
        background:var(--md-sys-color-background);
        padding:16px;
    }

    [data-sub-section].window-screen{
        max-width: initial;
        max-height: initial;
        margin: initial;
        padding:16px;
        border-radius:0;
    }
    [data-sub-section].absolute-screen{
        width:initial;
        max-width: initial !important;
        inset:0;
        padding:16px;
    }
    [data-sub-section].style-window{
        max-width:initial;
        max-height:initial;
        min-width:100%;
        height: 100%;
        /* padding-bottom:120px; */
        /* min-height:100%; */
        border-radius:0px;
        margin:0;
    }

}
