@import url(theme/colors/oled.css);
@import url(nav.css);
@import url(ui-elements/default-rules.css);

body{
  width:100vw;
  height:100vh;
  height: 100dvh;
  margin:0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--md-sys-color-background);
  font-family: 'DM Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: env(safe-area-inset-bottom);
}
*:not(.material-symbols-rounded){
  font-family: "DM Sans", sans-serif;
}

#app{
  display:flex;
  flex-grow:1;
  height:100%;
}

.app-layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.app-content{
  display:flex;
  flex-direction:column;
  flex-grow:1;
}