:root, :host {
  color-scheme: light dark;
  --md-sys-color-background: #1D171C;
  --md-sys-color-on-background: #F5E8EF;
  --md-sys-color-surface: #1D171C;
  --md-sys-color-surface-dim: #181216;
  --md-sys-color-surface-bright: #433A41;
  --md-sys-color-surface-container-lowest: #181216;
  --md-sys-color-surface-container-low: #261F24;
  --md-sys-color-surface-container: #2C242A;
  --md-sys-color-surface-container-high: #362E34;
  --md-sys-color-surface-container-highest: #40383E;
  --md-sys-color-on-surface: #F5E8EF;
  --md-sys-color-surface-variant: #453741;
  --md-sys-color-on-surface-variant: #D8C6D1;
  --md-sys-color-inverse-surface: #F5E8EF;
  --md-sys-color-inverse-on-surface: #453741;
  --md-sys-color-outline: #8F7D89;
  --md-sys-color-outline-variant: #453741;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCEE8;
  --md-sys-color-primary: #FFB3DB;
  --md-sys-color-on-primary: #6D0058;
  --md-sys-color-primary-container: #D97CB9;
  --md-sys-color-on-primary-container: #FFF7FB;
  --md-sys-color-inverse-primary: #E891C9;
  --md-sys-color-secondary: #E0C4DB;
  --md-sys-color-on-secondary: #4A3246;
  --md-sys-color-secondary-container: #675462;
  --md-sys-color-on-secondary-container: #F6E4F2;
  --md-sys-color-tertiary: #FFBDE5;
  --md-sys-color-on-tertiary: #8A005F;
  --md-sys-color-tertiary-container: #D95F9E;
  --md-sys-color-on-tertiary-container: #FFF7FB;
  --md-sys-color-error: #FFC2CD;
  --md-sys-color-on-error: #68001E;
  --md-sys-color-error-container: #B0002D;
  --md-sys-color-on-error-container: #FFE4E9;
}