:root, :host {
  --md-sys-color-background: #FFF9FB;
  --md-sys-color-on-background: #362A34;
  --md-sys-color-surface: #FFF9FB;
  --md-sys-color-surface-dim: #F5EDF0;
  --md-sys-color-surface-bright: #FFFCFE;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FBF3F6;
  --md-sys-color-surface-container: #F6EEF1;
  --md-sys-color-surface-container-high: #F1E9EC;
  --md-sys-color-surface-container-highest: #ECE4E7;
  --md-sys-color-on-surface: #362A34;
  --md-sys-color-surface-variant: #F8ECF0;
  --md-sys-color-on-surface-variant: #5D4B58;
  --md-sys-color-inverse-surface: #453741;
  --md-sys-color-inverse-on-surface: #FFEFF9;
  --md-sys-color-outline: #93818E;
  --md-sys-color-outline-variant: #D8C6D1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCEE8;
  --md-sys-color-primary: #E891C9;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFD9EF;
  --md-sys-color-on-primary-container: #6D1E58;
  --md-sys-color-inverse-primary: #FFCEE8;
  --md-sys-color-secondary: #C8AAC3;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F0D8EC;
  --md-sys-color-on-secondary-container: #422D3E;
  --md-sys-color-tertiary: #FF9FD4;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD4EB;
  --md-sys-color-on-tertiary-container: #8A005F;
  --md-sys-color-error: #FFB8C5;
  --md-sys-color-on-error: #61001A;
  --md-sys-color-error-container: #FFE4E8;
  --md-sys-color-on-error-container: #410011;
}